/*
    style.css
*/

.white_content
 { 
    display:none;
    
    position:fixed;
    top:35%;
    left:35%;
    z-index:1002;
    
    width: 45%;
	
    color:#D6D6D6;
    border:solid 1px #000000;
    background-color:#232323;
	
	textarea{position:fixed;}

}

#noAns{
font-size:30px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:Pink;
font-weight:700;
display:block;
cursor: pointer;
}

textarea{
	resize:none;
	text-align: left;
}